{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/user_profile_style.css') }}">
{% endblock %}

{% block content %}
<h1>User Profile</h1>

<div class="card">
  <div class="card-heading">
    <h2>Account</h2>
  </div>
  <div class="card-body">
    <p>Email: {{ current_user.email }}</p>
  </div>
</div>

<div class="card">
  <div class="card-heading">
    <h2>Account Statistics</h2>
  </div>
  <div class="card-body">
    <p>Joined on {{ current_user.registered_on.strftime("%A, %B %d, %Y") }}</p>
  </div>
</div>
{% endblock %}
