{% extends "base.html" %}

{% block styling %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <header class="content-text">
        <h1>Welcome to the <strong>Flask User Management Example!</strong></h1>
        <p><em>Need an account? </em><a href="{{ url_for('users.register') }}">Register!</a></p>
        <p><em>Existing user? </em><a href="{{ url_for('users.login') }}">Login!</a></p>
    </header>
    <figure class="content-image">
        <img src="{{ url_for('static', filename='img/flask.png') }}" alt="Flask Logo">
    </figure>
</div>
{% endblock %}
